body {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  margin: 1rem;
}
.App {
  text-align: center;
  font-size: large;
}

.Header {
  margin-bottom: 2rem;
  background-color: #ffffff;
}

.Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #928c93;
  background-color: #251A29;
  text-align: center;
}

.Logo {
  width: 5rem;
  height: 2rem;
}

.Title{
  display: inline-block; 
}

.Day {
  background-color: #ffffff;
  height: 5rem;
  width: 5rem;
}

.SelectDay {
  background-color:#FEB805;
  color: #ffffff;
}

.DayNames {
  background-color: #6BC0E4;
  font-size: medium;
  height: 4rem;
  padding: 1.2%;
}

.Week {
  width: 90rem;
}

.Schedule {
  background-color: #F7BF51;
  width: 25rem;
  height: 27rem;
}